.statistics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px 15px 50px;
    border: 1px solid #453535;
}

.title {
    padding: 15px;
    font-size: 32px;
    text-align: center;
    background: #f2fdff;
}

.list {
    display: flex;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 14px;
    border: 1px solid #453535;
}

.label {
    font-size: 18px;
}

.percentage {
    font-size: 22px;
}